#calculadora{
    width: 25rem;
}

#calculadora .card-header{
 background-color: black;
}

#calculadora .card-body{
 background-color: gray;
}

#calculadora #display{
 text-align: right;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: bold;
 font-size: 30pt;
 color: white;
}

#calculadora button{
    margin: 5px;
    height: 3em;
    min-width: 100%;
    border-radius: 10px;
}

#calculadora .button-text{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16pt;
}

/*tentativa de implementar botoes bonitos*/
.btn-animation {
	color: black;
	transition: all 0.5s;
	position: relative;
    
}
.btn-animation::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(255,255,255,0.1);
	transition: all 0.3s;
}
.btn-animation:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}
.btn-animation::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 4px solid green;
	transform: scale(1.2,1.2);
}
.btn-animation:hover::after {
	opacity: 1;
	transform: scale(1,1);
}
